<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.org.antidotcb.dominus"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name="MenuActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            
        </activity>
        <activity
            android:name="PrimaryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="ua.org.antidotcb.dominus.intent.action.main" />
    
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".model.DominusProvider"
            android:authorities="ua.org.antidotcb.dominus.model.GameProvider" android:exported="false" android:label="Dominus game internal">
        </provider>
        <activity android:name="LoadActivity">
            <intent-filter>
                <action android:name="ua.org.antidotcb.dominus.intent.action.displayload"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:stateNotNeeded="true" android:enabled="true" android:allowTaskReparenting="false" android:name="AboutActivity" android:noHistory="true" android:launchMode="singleInstance" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="ua.org.antidotcb.dominus.intent.action.about"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="NewGameActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="ua.org.antidotcb.dominus.intent.action.newgame"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
